<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 lte8 lte7 lte6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 lte8 lte7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 lte8"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

<head>
  <title><%= if current_page.data.title.present?
      "#{ current_page.data.title } &mdash; "
    else
      if yield_content(:title).present?
        "#{ yield_content(:title) } &mdash; "
      end
    end %>markupboy</title>

  <meta charset="utf-8">

  <meta name="description" content="Markupboy.com is the personal site of Blake Walters — engineering director, product development nerd, and classically trained front-end engineer hailing from a time when the font tag was acceptable." />
  <meta name="keywords" content="engineering management, technology, markup, web standards, apple, css, javascript, html, jquery, python, django, web design, web development" />
  <meta name="viewport" content="width=device-width" />

  <link href='//fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'markupboy.bundle' %>
</head>


<body class="<%= current_page.data.body_class %>">

<div class="screen">

  <header>
    <h1 class="G4 GS">
      <a href="/">Blake Walters</a>
    </h1>

    <nav>
      <ul class="G1">
        <li class="G1">
          <h2 class="HSC">
            <a href="/readme">Readme</a>
          </h2>
        </li>
        <li class="G1">
          <h2 class="HSC">
            <a href="/contact">Contact</a>
          </h2>
        </li>
      </ul>
    </nav>
  </header>

  <div class="content <%= current_page.data.content_class %>">

    <%= yield %>

  </div>

  <footer>
    <nav>
      <ul class="footerOne">
      <li class="G1">
          <h2 class="HSC">Professional</h2>
          <ul>
            <li>CircleCI</li>
            <li>
              <a href="https://www.circleci.com/">About</a>
            </li>
            <li>
              <a href="https://circleci.com/signup/">Start Building</a>
            </li>
          </ul>
        </li>
        <li class="G1">
          <h2 class="HSC">Personal</h2>
          <ul>
            <li>Blake Walters</li>
            <li>
              <a data-proofer-ignore href="https://www.linkedin.com/in/blakewalters/">LinkedIn</a>
            </li>
            <li>
              <a href="/contact">Contact me</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </footer>

</div>

<%= javascript_include_tag 'markupboy.bundle' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52012214-1', 'markupboy.com');
  ga('send', 'pageview');

</script>

<!-- </mß> -->

</body>

</html>
